<h2 class="mat-h2">Available Resources Information</h2>
<div>
  <button mat-button (click)="openAddResourceDialog()">Add Resource</button>
  <button mat-button ngFilePicker (filePick)="addResourcesFromFile($event)">Add Resource From File</button>
  <button mat-button *ngIf="resources && resources.length > 0" (click)="setAllSelected(true)">Select All</button>
  <button mat-button *ngIf="resources && resources.length > 0" (click)="selectRandomResources()">Select Random</button>
  <button mat-button *ngIf="resources && resources.length > 0" (click)="setAllSelected(false)">Deselect All</button>
  <button mat-button *ngIf="resources && resources.length > 0" (click)="saveSelectedResources()">Save Selected Resources</button>
  <button mat-button *ngIf="resources && resources.length > 0" (click)="removeSelectedResources()">Remove Selected Resources</button>
</div>
<div *ngIf="resources && resources.length > 0">
  <mat-selection-list #resourcesList>
    <mat-list-option *ngFor="let resource of resources" [selected]="resource.selected">{{ resource.name }}</mat-list-option>
  </mat-selection-list>
  <p>
    Options Selected: {{ resourcesList.selectedOptions.selected.length }}
  </p>
</div>
<div *ngIf="!resources || resources.length == 0">
  No Resources Loaded
</div>
