<div class="mat-card">
  <h2 class="mat-h2">Network Information</h2>
  <div *ngIf="nodeInfo">
    <div fxLayoutWrap>
      <mat-card fxFlex *ngIf="nodeInfo.peerType">
        <h3 class="mat-h3">Peer Type - {{ nodeInfo.peerType }}</h3>
      </mat-card>
      <mat-card fxFlex *ngIf="nodeInfo.assignedSuperPeer">
        <h3 class="mat-h3">Assigned Super Peer - {{ (nodeInfo.assignedSuperPeer ? nodeInfo.assignedSuperPeer.ip + ":" + nodeInfo.assignedSuperPeer.port : "Nonde") }}</h3>
      </mat-card>
    </div>
    <div fxLayoutWrap>
      <mat-card fxFlex>
        <h3 class="mat-h3">Unstructured Network Nodes</h3>
        <mat-table #table [dataSource]="nodeInfo.unstructuredNetwork" *ngIf="nodeInfo.unstructuredNetwork && !nodeInfo.unstructuredNetwork.isEmpty()">
          <ng-container matColumnDef="node-ip">
            <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
            <mat-cell *matCellDef="let node">{{ node.ip }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="node-port">
            <mat-header-cell *matHeaderCellDef>Port</mat-header-cell>
            <mat-cell *matCellDef="let node">{{ node.port }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="!nodeInfo.unstructuredNetwork || nodeInfo.unstructuredNetwork.isEmpty()">None</div>
      </mat-card>

      <mat-card fxFlex *ngIf="nodeInfo.peerType && nodeInfo.peerType==peerType.SUPER_PEER">
        <h3 class="mat-h3">Super Peer Network Nodes</h3>
        <mat-table #table [dataSource]="nodeInfo.superPeerNetwork" *ngIf="nodeInfo.superPeerNetwork && !nodeInfo.superPeerNetwork.isEmpty()">
          <ng-container matColumnDef="node-ip">
            <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
            <mat-cell *matCellDef="let node">{{ node.ip }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="node-port">
            <mat-header-cell *matHeaderCellDef>Port</mat-header-cell>
            <mat-cell *matCellDef="let node">{{ node.port }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="!nodeInfo.superPeerNetwork || nodeInfo.superPeerNetwork.isEmpty()">None</div>
      </mat-card>

      <mat-card fxFlex *ngIf="nodeInfo.peerType && nodeInfo.peerType==peerType.SUPER_PEER">
        <h3 class="mat-h3">Assigned Ordinary Peer Nodes</h3>
        <mat-table #table [dataSource]="nodeInfo.assignedOrdinaryPeers" *ngIf="nodeInfo.assignedOrdinaryPeers && !nodeInfo.assignedOrdinaryPeers.isEmpty()">
          <ng-container matColumnDef="node-ip">
            <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
            <mat-cell *matCellDef="let node">{{ node.ip }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="node-port">
            <mat-header-cell *matHeaderCellDef>Port</mat-header-cell>
            <mat-cell *matCellDef="let node">{{ node.port }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="!nodeInfo.assignedOrdinaryPeers || nodeInfo.assignedOrdinaryPeers.isEmpty()">None</div>
      </mat-card>
    </div>
  </div>
</div>
