<mat-card *ngIf="dataSource && dataSource.size() > 0">
  <h3 class="mat-h3">{{ title }}</h3>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let stat">{{ stat[0] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="minimum">
      <mat-header-cell *matHeaderCellDef>Minimum</mat-header-cell>
      <mat-cell *matCellDef="let stat">{{ stat[1] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="maximum">
      <mat-header-cell *matHeaderCellDef>Maximum</mat-header-cell>
      <mat-cell *matCellDef="let stat">{{ stat[2] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="average">
      <mat-header-cell *matHeaderCellDef>Average</mat-header-cell>
      <mat-cell *matCellDef="let stat">{{ stat[3] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="standard-deviation">
      <mat-header-cell *matHeaderCellDef>Standard Deviation</mat-header-cell>
      <mat-cell *matCellDef="let stat">{{ stat[4] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
</mat-card>
